<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.ppiwd.exerciseanalyst">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ExerciseAnalyst"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".activities.WebViewStats"
            android:label="@string/title_activity_web_view_stats"
            android:theme="@style/Theme.ExerciseAnalyst.NoActionBar"></activity>
        <activity android:name=".activities.SignUpActivity" />
        <activity android:name=".activities.SignInActivity" />
        <activity android:name=".activities.InitialActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.TrainingDataActivity"
            android:label="@string/title_activity_session_tagging"
            android:configChanges="keyboardHidden|orientation|screenSize"
            />
        <activity android:name=".activities.MenuActivity" />

        <service
            android:name=".services.metamotion.MetaMotionService"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="location" />
        <service android:name="com.mbientlab.metawear.android.BtleService" />
    </application>

</manifest>